
body {
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
}

.svg-outer-holder {
  position: relative;
  width: 70vw;
  padding: 0;
  padding-bottom: 100%;
}
.svg-holder {
  position: relative;
  height: 84vh; /* FIXME: hardcoded size of the player */
  overflow-x: scroll;
  overflow-y: hidden;
}
.svg-block {
  position: absolute;
  height: 100%;
  top: 0;
  overflow: hidden;
}

image {
  position: absolute;
  height: 100%;
  top: 0;
  overflow: hidden;
}

.player {
  width: 100%;
  allgn: center;
  position: absolute;
  bottom: 0;
}

.cursor {
  fill: none;
  stroke: green;
  stroke-width: 2;
  shape-rendering: auto;
}

.normal-bar {
  fill: none;
  stroke: black;
  stroke-width: 2;
  shape-rendering: auto;
}

.active-bar {
  fill: none;
  stroke: yellow;
  stroke-width: 2;
  shape-rendering: auto;
}

.dragged-bar {
  fill: none;
  stroke: orange;
  stroke-width: 2;
  shape-rendering: auto;
}

.file-table-outer {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  overflow-y: scroll;
  top: 0;
  left: 0;
}

.file-table-inner {
  padding: 8px;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: .8rem;
}

thead,
tfoot {
  background-color: #3f87a6;
  color: #fff;
}

tbody {
  background-color: #e4f0f5;
}

tr:hover {
  background-color: #3f87a6;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 5px 10px;
  user-select: none;
}


.MuiSvgIcon-root {
  color: #ffffff;
  background-color: #1976d2;
  transform: scale(1.8);
}

.toolbar {
  margin: 0;
  padding: 5px;
  padding-right: 15px;
  display: inline-block;
}

.scores {
  position: absolute;
  width: 30vw;
  top: 0;
  right: 0;
  user-select: none;
  text-align: center;
}

img {
  width: 30vw;
}

